html, body {
    height: 100%;
}
html {
    display: table;
    margin: auto;
    background-color: black;
}
body {
    display: table-cell;
    vertical-align: middle;
}
@font-face {
    font-family: "KIWANO-APPLE";
    src: url("fonts/kiwano-apple.otf")
}
h1{
  color: pink;
  font-size: 48px;
  font-family: KIWANO-APPLE;
  text-align: center;
}
p{
  color: teal;
  font-size: 22px;
  font-family: KIWANO-APPLE;
  text-align: center;
}
