html {
  background-color: #D24043;
}

@font-face {
    font-family: "KIWANO-APPLE";
    src: url("fonts/kiwano-apple.otf")
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: "KIWANO-APPLE";
    font-size: 22pt;
    background-color: #D24043;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #FFFF33;
}

.logo {
   position: absolute;
   top: 2.5px;
   right: 0px;
}

.tickets {
  padding:2px 6px 4px 6px;
  color: #000000;
  background-color: #eeeeee;
  border: #dddddd 2px solid
}

p {
      font-family: "KIWANO-APPLE";
      color: white;
      font-size: 32px;
      text-align: center;
}
